input{
  border: 2px solid grey;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 10px;
}


body {
        color: black;
        font-family: 'arial';
        background: #e6e9e9;
        background-image: url('../images/backgroundImage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 30px;
      }
      .errormsg {
        color: red;
        display: none;
      }

      